# Скрипт инициализации сервиса Day-till-event.
#==========================================================================================#
# {Application Directory} – путь к директории со скриптом.

[Unit]
Description=Day-till-event
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/bots/Days-till-event
ExecStart=/bin/bash -c "source .venv/bin/activate && python3 main.py"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
